[submodule "mail-service"]
	path = mail-service
	url = git@github.com:pikard86/mail-service.git
	branch = master
	update = rebase
[submodule "mail-ui"]
	path = mail-ui
	url = git@github.com:pikard86/mail-ui.git
	branch = master
	update = rebase
[submodule "datamove"]
	path = datamove
	url = git@github.com:pikard86/datamove.git
